html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#map {
	height: 100%;
	width: 100%;
}

.GoogleMap .container, .GoogleMap .buttonsContainer {
	margin: 10px;
	background-image: none;
	border-radius: 2px;
	overflow: hidden;
	background-color: white;
}
.GoogleMap .buttonsContainer {
	cursor: pointer;
    display: flex;
    flex-direction: column;
}
.GoogleMap .buttonsContainerHorizontal {
    flex-direction: row;
}
.GoogleMap .buttonsContainer > div {
	width: 40px;
	height: 40px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px -1px inset;
	transition: background-color 100ms linear, background-size 100ms linear;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.GoogleMap .buttonsContainer > div:hover {
	background-color: #f0f0f0;
}
.GoogleMap .buttonsContainer > div.selected {
	background-color: #cccccc;
	background-size: 32px 32px;
}

#image {
	max-width: 150px;
	max-height: 150px;
	width: 15vw;
	height: 15vw;
	margin: 5px;
	box-shadow: 0 0 5px black inset;
	display: block;
}
#nameContainer {
	width: 50vw;
}
#name {
	text-align: center;
	line-height: 20px;
}


#button-grid-big { background-image: url("/static/icons/grid_big.svg"); }
#button-grid-small { background-image: url("/static/icons/grid_small.svg"); }
#button-nests { background-image: url("/static/icons/grass.svg"); }


#button-gym { background-image: url("/static/icons/gym.svg"); }
#button-pokestop  { background-image: url("/static/icons/pokestop_blue.svg"); }
#button-unverified { background-image: url("/static/icons/question_mark.svg"); }
#button-portal { background-image: url("/static/icons/portal_pink.svg"); }


#button-eligible { background-image: url("/static/icons/star_gold.svg"); }
#button-not-eligible { background-image: url("/static/icons/star_white.svg"); }


#button-add::before { content: "➕"; }
#button-remove::before { content: "❌"; }